black==21.10b0
dnspython==2.1.0
graia-ariadne==0.3.9
graia-broadcast==0.13.1
graia-saya==0.0.13
graia-scheduler==0.0.5
httpx==0.20.0
loguru==0.5.3
mctools==1.1.2
numpy==1.21.4
peewee==3.14.8
peewee-async==0.7.2
Pillow==8.4.0
PyMySQL==0.9.3
PyYAML==6.0
regex==2021.11.2
requests==2.26.0
urllib3==1.26.7
